#emoji-container {
  display: flex;

  #categories-wrapper {
    flex-grow: 1;
    padding: 0 40px;
    display: flex;
    flex-direction: column;

    .label-wrapper {
      padding: 10px;

      .label-text {
        margin-left: 8px;
      }
    }
  }
}
