#emoji-container {
  display: flex;
  padding-top: 40px;
  margin-top: 5px;
  background-color: #f8f9fa; }
  #emoji-container .left-panel {
    width: 20%;
    border-right: 2px solid #e9ecef;
    margin-top: -36px; }
    #emoji-container .left-panel #categories-wrapper {
      display: flex;
      flex-direction: column;
      padding: 30px 20px 40px 60px; }
      #emoji-container .left-panel #categories-wrapper .label-wrapper {
        padding: 10px; }
        #emoji-container .left-panel #categories-wrapper .label-wrapper .label-text {
          margin-left: 8px; }
  #emoji-container .right-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 40px; }
    #emoji-container .right-panel .search-wrapper {
      display: flex;
      position: relative; }
      #emoji-container .right-panel .search-wrapper .search-input {
        width: 100%;
        height: 20px;
        font-size: 24px;
        padding: 12px 60px 12px 24px;
        font-weight: 600;
        box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
        border: 2px solid #dee2e6;
        border-radius: 4px; }
        #emoji-container .right-panel .search-wrapper .search-input:focus {
          border-color: #4dabf7;
          outline: none;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(34, 139, 230, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px rgba(34, 139, 230, 0.5);
          transition: all .1s ease-in-out; }
      #emoji-container .right-panel .search-wrapper .submit-btn {
        background: none;
        border: none;
        position: absolute;
        right: 6px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #dee2e6; }
        #emoji-container .right-panel .search-wrapper .submit-btn:focus {
          outline: none; }
    #emoji-container .right-panel .selection-wrapper .selection-btn {
      margin-right: 10px;
      margin-top: 20px;
      padding: 8px;
      border-radius: 5px;
      background: #495057;
      border: 1px solid #495057;
      color: white; }
      #emoji-container .right-panel .selection-wrapper .selection-btn:hover {
        background: #fa5252;
        border: 1px solid #fa5252;
        cursor: pointer; }
      #emoji-container .right-panel .selection-wrapper .selection-btn:focus {
        outline: none; }
      #emoji-container .right-panel .selection-wrapper .selection-btn .btn-text {
        padding-right: 5px;
        font-size: 14px;
        font-weight: 600; }
      #emoji-container .right-panel .selection-wrapper .selection-btn .cancel-icon {
        font-size: 14px; }
    #emoji-container .right-panel #emoji-wrapper .count-wrapper {
      font-weight: 600;
      color: #495057;
      font-size: 24px;
      margin-top: 20px;
      padding-left: 5px;
      padding-bottom: 20px;
      border-bottom: 5px solid #e9ecef; }
    #emoji-container .right-panel #emoji-wrapper #symbol-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px; }
      #emoji-container .right-panel #emoji-wrapper #symbol-container .symbol-wrapper {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        width: 50px; }
        #emoji-container .right-panel #emoji-wrapper #symbol-container .symbol-wrapper .symbol {
          font-size: 40px; }

/*# sourceMappingURL=index.css.map */
