@font-face {
  font-family: Montserrat-Black;
  src: url("css/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("css/fonts/Montserrat-BlackItalic.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("css/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("css/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("css/fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("css/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("css/fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("css/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("css/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("css/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("css/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-RegularItalic;
  src: url("css/fonts/Montserrat-RegularItalic.ttf");
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("css/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("css/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("css/fonts/Montserrat-ThinItalic.ttf");
}