@import "fonts.css";
@import "color_variables";

.app {
  .app-header {
    top: 0;
    display: flex;
    justify-content: center;
    background-color: $abubergine;

    .nav-wrapper {
      .list-wrapper {
        display: flex;

        .link-wrapper {
          padding: 20px;
          text-transform: uppercase;

          a {
            text-decoration: none;
            font-weight: 600;
            color: #495057;
            opacity: 0.6;

            &.active, &:hover {
              opacity: 1;
              transition: all .1s ease-in;
            }
          }
        }
      }
    }
  }
}